<div class="site">
    <%- include("partials/header.ejs") %>
        <section class="home-container">
            <header class="container_header">
                <div class="app_title">
                    <h1>Find Your Book</h1>
                </div>
                <% if (searchResult) { %>
                    <div class="website_description">
                        <h2>You've Searched for <strong><%= searchResult.title %></strong> by <strong><%= searchResult.author_name %></strong></h2>
                        <strong>This page will provide you with some key information about this book.</strong>
                    </div>
            </header>
            <div class="container_body">
                <div class="book-cards row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-2 g-md-3">
                    <div class="col d-flex">
                        <div class="card">
                            <div class="card-body d-flex">
                                <a class="card-link" href="/opinion">
                                    <% if (searchResult.isbn) { %>
                                        <img class="card-img"
                                            src="https://covers.openlibrary.org/b/isbn/<%= searchResult.isbn %>-L.jpg"
                                            alt="Cover image of <%= searchResult.title %>">
                                    <% } else { %>
                                        <img class="card-img" alt="No cover image available">
                                    <% } %>
                                </a>
                                <p class="card-text">
                                    <%= searchResult.title %>
                                </p>
                                <p class="card-text">By <%= searchResult.author_name %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <% } else { %>
                    <p>No book available.</p>
                <% } %>
                <% if (error) { %>
                    <p>Error: <%= error %></p>
                <% } %>
            </div>
        </section>
    <%- include("partials/footer.ejs") %>
</div>
